.modal-footer a {
  color: rgb(4, 67, 150);
}

.modal-body label {
  margin-left: 20px;
}

.row {
  margin-bottom: 10px;
}

.row button {
  width: 33%;
  margin: 5px;
}
input,
textarea {
  margin: 2px;
}

label {
  font-size: 12px;
  color: red;
  font-style: italic;
  position: absolute;
  margin-right: -185px;
  margin-top: -15px;
}

.input-error {
  border: 1px solid red;
}
